@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Quicksand:wght@400;500&family=Source+Sans+Pro:wght@300&display=swap');

.InfoBox {
    display: flex;
    #position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 50%;
    #left: 5%;
    border-radius: 12px;
    margin: 1rem auto;
    margin-bottom: -6px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
}

#info-title {
    display: flex;
    font-size: 0.8rem;
    padding-left: 1rem;
    font-weight: 500;
    margin-left: 5px;
}

#info-title-wrap {
    margin-top: -5px;
    background-image: url("../assets/clock.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 0% 15%;
    opacity: 0.5;
}