@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Quicksand:wght@400;500&family=Source+Sans+Pro:wght@300&display=swap');

.forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 97%;
    border-radius: 12px;
    margin: 1rem auto;
    #padding: 1rem;
    background-color: rgba(40, 40, 40, .2);
    backdrop-filter: blur(10px);
    margin-bottom: -6px;
}

.day {
    #display: flex;
    padding: 0.5rem;
}

#title {
    #margin-top: -1.5px;
    display: flex;
    font-size: 0.7rem;
    padding-left: 1rem;
    font-weight: 500;
    margin-left: 5px;
}

.forecast #title {
    padding-bottom: -5px;
}

.forecast #title-wrap {
    margin-top: 12px;
    margin-left: 16px;
    margin-bottom: 5px;
    background-image: url("../assets/calendar.png");
    background-repeat: no-repeat;
    background-size: 3.5%;
    background-position: 0% 20%;
    opacity: 0.5;
}