@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Quicksand:wght@400;500&family=Source+Sans+Pro:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.5rem;
}

.main-degrees {
  font-size: 6rem;
}

.App {
  position: relative;
  height: 100vh;
  width: 100%;

  background-color: rgba(0,0,0,0.3);
  color: rgb(224, 224, 224);
}

.App:before {
  content: '';
  background: url(./assets/rocks.jpg) no-repeat center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  max-width: 700px;
  height: 700px;
  margin: auto;
  #gap: 40px;
  padding: 1rem;
  #padding-top: 5rem;
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.wrapper .hourly {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 92%;
  border-radius: 12px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper .forecast {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 92%;
  border-radius: 12px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.header {
  position: absolute;
  top: 83%;
  display: flex;
  height: 55px;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.search-icon {
  position: absolute;
  left: 90%;
}